<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=11;IE=10">
		<title>详情</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
	</head>
	<body>
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
            <div class="container">
                <div class="col-md-12 order-md-12 mb-12" style="padding-top:5px;padding-bottom:20px;">
                    <ul class="list-group mb-4 ">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h7 class="my-0"> SN: </h7>
                                <small class="text-muted">********</small>
                            </div>
                            <div>
                                <h7 class="my-0"> USN: </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">OSN : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">Asset : </h7>
                                <small class="text-muted">*********</small>
                            </div>
                            <div>
                                <h7 class="my-0">PN : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h7 class="my-0">PartName : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">Spec : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">保养周期（按次数）: </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">保养周期（按时间） : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">已使用次数 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h7 class="my-0">下次保养时间 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">保养人 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">位置 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">使用状态 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">提前提醒天数 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">提前提醒次数 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                            <div>
                                <h7 class="my-0">替补保养人 : </h7>
                                <small class="text-muted">**********</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

	</body>
</html>
